
   <!-- handlebars Templetes -->
    <div class="item">
    <img data-drinkid="{{idDrink}}" src={{strDrinkThumb}} class="center-block img-responsive">
    <figcaption class ="carousel-caption">
      {{strDrink}}
    </figcaption>
  </div>
  <!-- <div class="item">
    <img src={{strDrinkThumb}} class="center-block img-responsive">
  </div>
  <div class="item">
    <img src={{strDrinkThumb}} class="center-block img-responsive"> -->
  <!-- </script> -->
