<h2>{{strDrink}}</h2>
<p>
  <h3>Ingrediants:</h3><br />
  {{strIngredient1}}<br />
  {{strIngredient2}}<br />
  {{strIngredient3}}<br />
  {{strIngredient4}}<br />
  {{strIngredient5}}<br />
  {{strIngredient6}}<br />
  {{strIngredient7}}<br />
  {{strIngredient8}}<br />
  {{strIngredient9}}<br />
  {{strIngredient10}}<br />
  {{strIngredient11}}<br />
  {{strIngredient12}}<br />
  {{strIngredient13}}<br />
  {{strIngredient14}}<br />
  {{strIngredient15}}<br />
</p>
